////
// Brand styles for the Spectrum family of websites.
//
// Currently: spectrumit.eu
//            spectrum.holdings
////
$font_body = "Open Sans", sans-serif
$font_header = "Open Sans", sans-serif

$body_weight = 400
$body_size = 16px

$header_margin = 8px
$h1_weight = 300
$h2_weight = 300
$h3_weight = 600
$h4_weight = 600
$h5_weight = 600
$h6_weight = 600
$h1_size = 36px
$h2_size = 32px
$h3_size = 28px
$h4_size = 24px
$h5_size = 20px
$h6_size = 16px

$navy = #2a3e51
$red = #f04956
$gray = #686868
$white = #fff

$background = $white
$body_color = $navy
$header_color = $navy
$subheader_color = $red

.navy
  color $navy
.red
  color $red
.gray
  color $gray
.white
  color $white

.bgnavy
  background-color $navy
.bgred
  background-color $red
.bggray
  background-color $gray
.bgwhite
  background-color $white

////
// Basic styles
////
html, body
  background $background
  color $body_color

  height 100%

  font-family $font_body
  font-weight $body_weight
  font-size $body_size

p
  line-height 1.5
  font-size $body_size

img
  max-width 100%

a
  color inherit

a:hover, button:hover
  cursor pointer

////
// Headers
////
h1
  font-family $font_header
  font-weight $h1_weight
  font-size $h1_size
  margin-bottom $header_margin
  color $header_color

h2, h3, h4, h5, h6
  font-family $font_header
  margin-bottom $header_margin
  color $subheader_color

h2
  font-weight $h2_weight
  font-size $h2_size
h3
  font-weight $h3_weight
  font-size $h3_size
h4
  font-weight $h4_weight
  font-size $h4_size
h5
  font-weight $h5_weight
  font-size $h5_size
h6
  font-weight $h6_weight
  font-size $h6_size

