////
// Brand styles for the Spectrum family of websites.
//
// Currently: spectrumit.eu
//            spectrum.holdings
////
$font_body = "Open Sans", sans-serif
$font_header = "Open Sans", sans-serif

$body_weight = 400
$h1_weight = 300
$h2_weight = 300
$h3_weight = 600
$h4_weight = 600
$h5_weight = 600
$h6_weight = 600

$body_size = 16px
$h1_size = 36px
$h2_size = 32px
$h3_size = 28px
$h4_size = 24px
$h5_size = 20px
$h6_size = 16px

$navy = #2a3e51
$red = #f04956
$gray = #686868
$white = #fff

$background = $white
$body_color = $navy
$header_color = $navy
$subheader_color = $red

////
// Basic styles
////
html, body
  background $background
  color $body_color

  height 100%

  font-family $font_body
  font-weight $body_weight
  font-size $body_size

p
  line-height 1.4

  @media all and (max-width: 768px)
    font-size $body_size - 1
    line-height 1.6

img
  max-width 100%

a
  color inherit

a:hover, button:hover
  cursor pointer

////
// Columns
////
.w20, .w25, .w33, .w40, .w50, .w60, .w66, w75, .w80, .w100
  display inline-block
  vertical-align top

.w20
  width 20%
.w25
  width 25%
.w33
  width 33%
.w40
  width 40%
.w50
  width 50%
.w60
  width 60%
.w66
  width 66%
.w75
  width 75%
.w80
  width 80%
.w100
  width 100%

////
// Headers
////
h1
  font-family $font_header
  font-weight $h1_weight
  font-size $h1_size
  color $header_color

h2, h3, h4, h5, h6
  font-family $font_header
  color $subheader_color

h2
  font-weight $h2_weight
  font-size $h2_size
h3
  font-weight $h3_weight
  font-size $h3_size
h4
  font-weight $h4_weight
  font-size $h4_size
h5
  font-weight $h5_weight
  font-size $h5_size
h6
  font-weight $h6_weight
  font-size $h6_size

