.tcenter
  text-align center

img.tcenter
  display block
  margin 0 auto

.inline
  display inline-block

  &.middle
    vertical-align middle

  &.top
    vertical-align top

  &.bottom
    vertical-align bottom
